In [2]:
import pandas as pd
import re

In [24]:
# Q1
smp_txt = 'Python Exercises, PHP exercises.'

result = smp_txt.replace(' ', ':').replace(',', ':').replace(',', ':')

print(smp_txt)
print(result)

Python Exercises, PHP exercises.
Python:Exercises::PHP:exercises.

In [18]:
# Q2
dict = {'SUMMARY':['hello, world','XXXXX test', '123four, five:; six...']}

df = pd.DataFrame(dict)

df = df['SUMMARY'].apply(lambda y: re.sub(r'[^a-z,A-Z\s]', '', y))


print(df)

0      hello, world
1        XXXXX test
2    four, five six
Name: SUMMARY, dtype: object

In [33]:
# Q3
str = "There is a boy in the village he didn't know how to code in python."

pattern = re.compile(r'\b\w{4,}\b')

result = pattern.findall(str)

print(result)

['There', 'village', 'didn', 'know', 'code', 'python']

In [36]:
# Q4
str = "There is a boy in the village he didn't know how to code in python."

pattern_three = re.compile(r'\b\w{3}\b')
pattern_four = re.compile(r'\b\w{4}\b')
pattern_five = re.compile(r'\b\w{5}\b')

result_three = pattern_three.findall(str)
result_four = pattern_four.findall(str)
result_five = pattern_five.findall(str)


print(result_three)
print(result_four)
print(result_five)

['boy', 'the', 'how']
['didn', 'know', 'code']
['There']

In [54]:
# Q5

# Sample Text
sample_text = [
    "example (.com)",
    "hr@fliprobo (.com)",
    "github (.com)",
    "Hello (Data Science World)",
    "Data (Scientist)"
]
# I fail to perform this question

In [3]:
# Q6
# I don't know how to solve this question

In [57]:
# Q7

sample_text = 'ImportanceOfRegularExpressionsInPython'

pattern = re.findall(r'[A-Z][a-z]*', sample_text)

print(pattern)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [69]:
# Q8    

sample_text = "RegularExpression 1IsAn2ImportantTopic3InPython"

pattern = re.split(r'([0-9]+[A-Za-z]*)', sample_text)

print(pattern)

['RegularExpression ', '1IsAn', '', '2ImportantTopic', '', '3InPython', '']

In [ ]:
# Q9
# I dont know how to solve the question

In [18]:
# Q10
github_link = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"

# Read the data into a DataFrame
df = pd.read_csv(github_link)

df['first_five_letters'] = df['Country'].str[:6]

print(df.head())

       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                   1.32548  1.36058
3         0.03880                   1.45900  1.33095
4         0.03553                   1.32629  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143  0.66557                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464  0.64938                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual first_five_letters
0     0.29678            2.51738             Switze
1     0.43630            2.70201             Icelan
2     0.34139            2.49204             Denmar
3     0.34699            2.46531             Norway
4     0.45811            2.45176             Canada

In [56]:
# Q11
strings = "Aman_T@0114"

pattern = re.match(r'^[a-zA-Z0-9_@]+$', strings)

print(pattern)

<re.Match object; span=(0, 11), match='Aman_T@0114'>

In [66]:
# Q12
string = 'a dog 123barking on the street'

pattern = re.search(r'\d{3}', string)

print(pattern)

<re.Match object; span=(6, 9), match='123'>

In [78]:
# Q13
ip = input('Enter IP address:')
result =   '.'.join(map(str, map(int, ip.split('.'))))
print(result)

Enter IP address:198.010.15.02
198.10.15.2

In [106]:
# Q14
with open('sample_text.txt', 'r') as file:
    text = file.read()

date_pattern = re.compile(r'\b([A-za-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b')

matches = date_pattern.findall(text)

print(matches)

['August 15th 1947']

In [5]:
# Q20
Sample_text = '01.12 0132.123 2.31875 145.8 3.01 27.25 0.25'

pattern = re.findall(r'\b\d+\.\d{1,2}\b', Sample_text)
print(pattern)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [39]:
# Q21
# i've tried did'nt solved it

In [42]:
# Q22
sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
matches = [int(match) for match in re.findall(r'\b\d+\b', sample_text)]

largest_num = max(matches)
print(largest_num)

950

In [66]:
# Q23
str = 'RegularExpressionIsAnImportantTopicInPython'

pattern = re.sub(r'(?<=[a-z])(?=[A-Z])', ' ', str)

print(pattern)

Regular Expression Is An Important Topic In Python

In [89]:
# Q24
string = 'I AmA ManOf my OwnWords'
pattern1 = re.findall(r'[A-Z][a-z]+', string)
print(pattern1)

['Am', 'Man', 'Of', 'Own', 'Words']

In [112]:
# Q25
sample_text = 'Hello hello world world'

pattern = re.sub(r'\b(\w+)\s+\1\b','', sample_text)
print(pattern)

#don't know how to print 'world'

Hello hello

In [126]:
# Q 26
alpha_num = 'Datascience12'

pattern = re.match(r'^[a-zA-Z0-9]$', alpha_num)

print(pattern)

None

In [131]:
# Q27
sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same
              has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

pattern = re.findall(r'#\w*', sample_text)

print(pattern)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [138]:
# Q29
with open('date_text.txt', 'r') as file:
    date = file.read()
    
pattern = re.findall(r'\b\d{2}-\d{2}-\d{4}\b', date)

print(pattern)

['12-09-1992', '15-12-1999']

In [151]:
# Q30 
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are thenadded to the ArrayList and the ArrayList is trimmed accordingly."

pattern = re.compile(r'\b\w{2,4}\b')

text = pattern.sub('', sample_text)

print(text)

 following example creates  ArrayList  a capacity   elements. 4 elements  thenadded   ArrayList   ArrayList  trimmed accordingly.