In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\programdata\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=23.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [41]:
#Q1
driver = webdriver.Chrome()

In [42]:
driver.get('https://www.naukri.com/')

In [44]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Scientist')

In [43]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Delhi/NCR')

In [45]:
submit = driver.find_element(By. CLASS_NAME, 'qsbSubmit')
submit.click()

In [46]:
job_title = []
job_loc = []

In [47]:
title_tags = driver.find_elements(By.XPATH,'//div[@class=" row1"]/a')[:10]
for i in title_tags:
    desig = i.text
    job_title.append(desig)

city = driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]/span')[:10]
for i in city:
    loc = i.text
    job_loc.append('loc')

In [48]:
print(len(job_title), len(job_loc))

10 10

In [49]:
df = pd.DataFrame({'Designation':job_title, 'Location':job_loc})
df

                        Designation Location
0  Senior Data Scientist, Reporting      loc
1                    Data Scientist      loc
2                   DS - NLP Expert      loc
3               Lead Data Scientist      loc
4               Lead Data Scientist      loc
5                                        loc
6                                        loc
7                                        loc
8                 Data Scientist II      loc
9                    Data Scientist      loc

In [90]:
#Q2
driver = webdriver.Chrome()

In [91]:
driver.get('https://www.shine.com/')

In [93]:
designation = driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Analyst')

In [94]:
location = driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bengaluru')

In [95]:
search = driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [96]:
job_titles = []
job_locations = []

In [97]:
title_tags = driver.find_elements(By.XPATH, '//strong[@class="jobCard_pReplaceH2__xWmHg"]/a')[:10]
for i in title_tags:
    designation = i.text
    job_titles.append(designation)

city = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[4]/div/div[2]/div[1]/div/div/div[1]/div[1]/div[1]/div[3]/div[2]')
for i in city:
    locations = i.text
    job_locations.append('locations')

In [98]:
print(len(job_titles), len(job_locations))

10 1

In [148]:
#Q3
driver = webdriver.Chrome()

In [149]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [150]:
ratings = []
rev_summ = []
full_review = []

In [175]:
rating = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in rating:
    star = i.text
    ratings.append(star)


review = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in review:
    summary = i.text
    rev_summ.append(summary)

full = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]/div/div')
for i in full:
    rev = i.text
    full_review.append(rev)

In [176]:
print(len(ratings), len(rev_summ), len(full_review))

100 100 100

In [177]:
#Q4
driver = webdriver.Chrome()

In [181]:
driver.get('https://www.flipkart.com/')

In [182]:
flipkart = driver.find_element(By.XPATH, '//div[@class="_2SmNnR"]/input')
flipkart.send_keys('Sneakers')

In [183]:
search = driver.find_element(By.XPATH,'//button[@class="_2iLD__"]')
search.click()

In [184]:
brands = []
prod_des = []
prices = []

In [190]:
brand_tag = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in brand_tag:
    sneakers = i.text
    brands.append(sneakers)

description_tag = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in description_tag:
    products = i.text
    prod_des.append(products)

price_tag = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in price_tag:
    price = i.text
    prices.append(price)

In [191]:
print(len(brands), len(prod_des), len(prices))

80 80 80

In [227]:
#Q5
driver = webdriver.Chrome()

In [228]:
driver.get('https://www.amazon.in/')

In [229]:
laptop = driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
laptop.send_keys('Laptop Intel Core i7')

In [230]:
search = driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [231]:
titles = []
ratings = []
prices = []

In [232]:
title_tag = driver.find_elements(By.XPATH, '//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')[:10]
for i in title_tag:
    text = i.text
    titles.append(text)

rating_tag = driver.find_elements(By.XPATH, '//span[@class="a-size-base s-underline-text"]')[:10]
for i in rating_tag:
    rate = i.text
    ratings.append(rate)

price_tag = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')[:10]
for i in price_tag:
    cost = i.text
    prices.append(cost)

In [233]:
print(len(titles), len(ratings), len(prices))

10 10 10

In [242]:
# Q6
driver = webdriver.Chrome()

In [243]:
driver.get('https://www.azquotes.com/')

In [245]:
quote = driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div/div/div[2]/div/div[1]/div/div[1]/div/div[3]/div/div[1]/p/a')
data = quote.text
print(data)

You teach best what you most need to learn.

In [246]:
author = driver.find_element(By. XPATH, '/html/body/div[1]/div[2]/div/div/div/div[1]/div/ul/li/div/div[1]/a')
data = author.text
print(data)

Richard Bach

In [247]:
types_of_quote = driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[2]/ul/li[2]/a')
data = types_of_quote.text
print(data)

Learning

In [3]:
#Q7
driver = webdriver.Chrome()

In [4]:
driver.get('https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1')

In [7]:
table = []

In [16]:
tables = driver.find_elements(By.XPATH, "/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[6]/div/table/tbody")

prime_ministers = []

rows = table.find_elements(By.XPATH,".//tr")

for row in rows[1:]:
    cells = row.find_elements(By.XPATH,".//td")
    pm_name = cells[0].text
    born_dead = cells[1].text
    term_of_office = cells[2].text
    remarks = cells[3].text
    
    pm_data = {
        "Name": pm_name,
        "Born-Dead": born_dead,
        "Term of Office": term_of_office,
        "Remarks": remarks
    }
    prime_ministers.append(pm_data)

for pm in prime_ministers:
    print(pm)

{'Name': '1.', 'Born-Dead': 'Jawahar Lal Nehru', 'Term of Office': '(1889–1964)', 'Remarks': '15 August 1947 to 27 May 1964\n16 years, 286 days'}
{'Name': '2.', 'Born-Dead': 'Gulzarilal Nanda (Acting)', 'Term of Office': '(1898-1998)', 'Remarks': '27 May 1964 to 9 June 1964,\n13 days'}
{'Name': '3.', 'Born-Dead': 'Lal Bahadur Shastri', 'Term of Office': '(1904–1966)', 'Remarks': '9 June 1964 to 11 January 1966\n1 year, 216 days'}
{'Name': '4. ', 'Born-Dead': 'Gulzari Lal Nanda  (Acting)', 'Term of Office': '(1898-1998)', 'Remarks': '11 January 1966 to 24 January 1966\n13 days'}
{'Name': '5.', 'Born-Dead': 'Indira Gandhi', 'Term of Office': '(1917–1984)', 'Remarks': '24 January 1966 to 24 March 1977\n11 years, 59 days'}
{'Name': '6.', 'Born-Dead': 'Morarji Desai', 'Term of Office': '(1896–1995)', 'Remarks': '24 March 1977 to  28 July 1979 \n2 year, 126 days'}
{'Name': '7.', 'Born-Dead': 'Charan Singh', 'Term of Office': '(1902–1987)', 'Remarks': '28 July 1979 to 14 January 1980\n170 days'}
{'Name': '8.', 'Born-Dead': 'Indira Gandhi', 'Term of Office': '(1917–1984)', 'Remarks': '14 January 1980 to 31 October 1984\n4 years, 291 days'}
{'Name': '9.', 'Born-Dead': 'Rajiv Gandhi', 'Term of Office': '(1944–1991)', 'Remarks': '31 October 1984 to 2 December 1989\n5 years, 32 days'}
{'Name': '10.', 'Born-Dead': 'V. P. Singh', 'Term of Office': '(1931–2008)', 'Remarks': '2 December 1989 to 10 November 1990\n343 days'}
{'Name': '11.', 'Born-Dead': 'Chandra Shekhar', 'Term of Office': '(1927–2007)', 'Remarks': '10 November 1990 to 21 June 1991\n223 days'}
{'Name': '12.', 'Born-Dead': 'P. V. Narasimha Rao', 'Term of Office': '(1921–2004)', 'Remarks': '21 June 1991 to 16 May 1996\n4 years, 330 days'}
{'Name': '13.', 'Born-Dead': 'Atal Bihari Vajpayee', 'Term of Office': '(1924- 2018)', 'Remarks': '16 May 1996 to 1 June 1996\n16 days'}
{'Name': '14.', 'Born-Dead': 'H. D. Deve Gowda', 'Term of Office': '(born 1933)', 'Remarks': '1 June 1996 to 21 April 1997\n324 days'}
{'Name': '15.', 'Born-Dead': 'Inder Kumar Gujral', 'Term of Office': '(1919–2012)', 'Remarks': '21 April 1997 to 19 March 1998 \n332 days'}
{'Name': '16.', 'Born-Dead': 'Atal Bihari Vajpayee', 'Term of Office': '(1924-2018)', 'Remarks': '19 March 1998 to 22 May 2004 \n6 years, 64 days'}
{'Name': '17.', 'Born-Dead': 'Manmohan Singh', 'Term of Office': '(born 1932)', 'Remarks': '22 May 2004 to 26 May 2014   \n10 years, 4 days'}
{'Name': '18.', 'Born-Dead': 'Narendra Modi', 'Term of Office': '(born 1950)', 'Remarks': '26 May 2014 - 2019'}
{'Name': '19.', 'Born-Dead': 'Narendra Modi', 'Term of Office': '(born 1950)', 'Remarks': '30 May 2019- Incumbent'}

In [9]:
#Q8
driver = webdriver.Chrome()

In [10]:
driver.get('https://www.motor1.com/')

In [11]:
cars = driver.find_element(By.XPATH, '//input[@class="m1-search-panel-input m1-search-form-text"]')
cars.send_keys('50 most expensive cars')

In [12]:
search = driver.find_element(By.XPATH, '//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
search.click()

In [14]:
top_fifty_cars = []

In [19]:
top_cars = driver.find_elements(By.XPATH, '//h3[@class="subheader"]')[:50]
for i in top_cars:
    car = i.text
    top_fifty_cars.append(car)

In [20]:
print(len(top_fifty_cars))

50

In [21]:
df = pd.DataFrame({'Top 50 Expensive Cars': top_fifty_cars})
df

                 Top 50 Expensive Cars
0                  Aston Martin Valour
1                         McLaren Elva
2                          Czinger 21C
3                        Ferrari Monza
4                   Gordon Murray T.33
5                    Koenigsegg Gemera
6                          Zenvo TSR-S
7                   Hennessey Venom F5
8                      Bentley Bacalar
9        Hispano Suiza Carmen Boulogne
10              Bentley Mulliner Batur
11                        Deus Vayanne
12                         SSC Tuatara
13                         Lotus Evija
14                 Aston Martin Vulcan
15                          Delage D12
16                 Ferrari Daytona SP3
17                   McLaren Speedtail
18                        Rimac Nevera
19                       Pagani Utopia
20                Pininfarina Battista
21                  Gordon Murray T.50
22                Lamborghini Countach
23            Mercedes-AMG Project One
24                        Zenvo Aurora
25                 Aston Martin Victor
26         Hennessey Venom F5 Roadster
27                    Koenigsegg Jesko
28               Aston Martin Valkyrie
29           W Motors Lykan Hypersport
30                       McLaren Solus
31                    Lamborghini Sian
32                    Koenigsegg CC850
33     Bugatti Chiron Super Sport 300+
34                  Lamborghini Veneno
35                      Bugatti Bolide
36           Pininfarina B95 Speedster
37                     Bugatti Mistral
38                 Pagani Huayra Imola
39                        Bugatti Divo
40                 SP Automotive Chaos
41                    Pagani Codalunga
42                        777 Hypercar
43            Mercedes-Maybach Exelero
44                  Bugatti Centodieci
45             Bugatti Chiron Profilée
46                Rolls-Royce Sweptail
47            Bugatti La Voiture Noire
48              Rolls-Royce Boat Tail*
49  Rolls-Royce La Rose Noire Droptail